node_modules
firmware/counterproductive/settings.h
logs/settings.json
logs/report.html
loggingApp/report.html
loggingApp/sea-prep.blob
loggingApp/sea-config.json
loggingApp/settings.json
loggingApp/bundle.js
logs_2025Apr09-230646.zip
loggingApp/heartbeat.json
loggingApp/heartbeat.json
